.popup__input {
   margin: 0 36px 30px 36px;
   width: 358px;
   font-size: 14px;
   line-height: 17px;
   display: block;
   box-sizing: border-box;
   font-family: inherit;
   border: 0;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   outline: none;
   padding-top: 13px;
}

.popup__input:last-of-type {
   margin-bottom: 0;
}


@media screen and (max-width: 574px) {
   .popup__input {
      margin: 0 22px 30px 22px;
      width: 238px;
   }
}