.profile__add-button {
   align-self: center;
   width: 150px;
   height: 50px;
   border: 2px solid #FFFFFF;
   box-sizing: border-box;
   border-radius: 2px;
   background-color: black;
   cursor: pointer;
   transition: 0.5s ease;
   padding: 0;
   background-image: url(../../../images/addButton.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 22px;
   cursor: pointer;
}
   
.profile__add-button:hover {
   opacity: 0.6;
}


@media screen and (max-width: 700px) {
   .profile__add-button {
     min-width: 282px;
     margin-top: 29px;
     background-size: 16px;
   }
}
 