.footer__copyright {
   margin-bottom: 60px;
   font-size: 18px;
   line-height: 1.22;
   color: #545454;
}



@media screen and (max-width: 574px) {
   .footer__copyright {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 36px;
   }
}
   