@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info-container/profile__info-container.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__work/profile__work.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/place/place.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/__img/card__img.css);
@import url(../blocks/card/__body/card__body.css);
@import url(../blocks/card/__signature/card__signature.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__delete-ikon/popup__delete-ikon.css);
@import url(../blocks/card/__like-button/_active/card__delete-ikon_active.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__close-ikon/popup__close-ikon.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__image-container/popup__image-container.css);
@import url(../blocks/popup/__image-figure/popup__image-figure.css);
@import url(../blocks/popup/__image-picture/popup__image-picture.css);
@import url(../blocks/popup/__image-caption/popup__image-caption.css);
@import url(../blocks/popup/__button_disabled/popup__button_disabled.css);
@import url(../blocks/popup/__input/_type/popup__input_type_error.css);
@import url(../blocks/popup/__input-error/popup__input-error.css);
@import url(../blocks/popup/__overlay/popup__overlay.css);
@import url(../blocks/popup/_open/popup_open.css);