.place {
   max-width: 880px;
   margin: 0 auto;
   margin-top: 50px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 17px;
   row-gap: 20px;
}

@media screen and (max-width: 1000px) {
   .place {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
      padding-left: 19px;
      padding-right: 19px;
      margin-top: 36px;
   }
 
}

@media screen and (max-width: 700px) {
   .place {
      grid-template-columns: 1fr;
   }
}