.popup__title {
   font-weight: 900;
   font-size: 24px;
   line-height: 29px;
   padding: 35px 64px 53px 36px;
   margin: 0;
   color: black;
}

@media screen and (max-width: 574px) {
   .popup__title {
      font-size: 18px;
      line-height: 1.22;
      padding: 25px 22px 75px 22px;
   }
}